@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --font-main: "Inter",sans-serif;
    --color-primary:#db4444;
    --color-dark-1:#000000;
    --color-dark-2:#7d8184;
    --color-white-1:#ffffff;
    --color-white-2:#f5f5f5;
    --color-yellow-1:hsla(36, 100%, 60%, 1);
    --color-green:#00d656;

}


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    /* 1 rem 10px */
}

body{
    font-family: var(--font-main);
    font-size: 1.6rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 1px;
}

.top_nav{
    width: 100%;
    height: 4rem;
    background-color:var(--color-dark-1);
}
.top_nav_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_nav_wrapper{
    display: flex;
    align-items: center;

    color: var(--color-white-1);
}

.top_nav_link{
    margin-left: 1rem;
    
    color: var(--color-white-1);

    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: underline;
}

.top_nav_p{
    font-size:1.4rem;
    font-weight: 400;
}

/*navbar*/
.nav{
    width: 100%;
    height: 8rem;
    border-bottom: 1px solid var(--color-dark-2);
}

.nav_container{
    
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_list{
    display: flex;
    
}

.nav_items{
    display: flex;
}

.nav_logo{
    font-size: 2.6rem;
    font-weight: 700;
    
    color: var(--color-dark-1);
    
}

.nav_item{
    margin: 0rem 0.5rem;
}

.nav_link{
    padding:0.6rem;
    color: var(--color-dark-1);
}

.nav_form{
    display: flex;
    align-items: center;
    padding: 0.8rem;
    background-color: var(--color-white-2);
}

.nav_input{
    padding: .4rem;
    background-color: transparent;
    outline: none;
    border: none;
}
.nav_search{
    cursor: pointer;

}

.nav_items{
    display: flex;
    align-items: center;
}

.nav_heart{
    margin-left: 1rem;
    cursor:pointer
}

.nav_cart{
    margin-left: 1rem;
    cursor:pointer
}

/* header */
.header{
    width: 100%;
    height: auto;
}
.header_container{
    width: 100%;
    display: flex;
    margin-top: 4rem;

}
.header_filter{
    width: 25%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}

.header_filter_link{
    color: var(--color-dark-1);
}

/* Seaction */

.section{
    margin-top: 10rem;
}

/* Flash Sale*/
.section_category{
    height: 4rem;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    color: var(--color-primary);
    font-weight: 800;
}
.section_rectangle {
    width: 1.5rem;
    height: 3.5rem; 
    background-color: var(--color-primary);
    border-radius: 0.3rem;
}

.section_header{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 6rem;
}
.section_title{
    font-size: 4rem;
    color: var(--color-dark-1);
    font-weight: 700;
}

.coundown{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    color: var(--color-dark-1);
    font-weight: 600;
    margin-bottom: 0.8rem;
}
.coundown p{
    font-size: 1rem;
    color: var(--color-dark-1)
}
.coundown span{
    font-size: 2rem;
    margin-top: 1rem;
    color: var(--color-primary);
    font-weight: 900;
}
#hours ,#minutes, #seconds, #days{
    font-size: 3rem;
    font-weight: 800;
}

/*slider*/

.swiper {
    width: 100%;
    height: 100%;
    margin-top: 5rem;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* cards */

  .card_top{
    width: 100%;
    height: auto;
    position: relative;
  }

  .card_img{
    width: 100%;
    height: 100%;
  }

  .card_tag{
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 9;
    background-color: var(--color-primary);
    padding: .4rem .7rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-white-2);
    border-radius: 0.5rem;
  }

  .card_top_icons{
    position: absolute;
    top:1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    z-index: 9;
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  .card_top_icon{
    width: 100%;
    height: 100%;
    color: var(--color-white-2);
    cursor: pointer;
    background-color: var(--color-white-1);
    border-radius: 50%;
    padding: .4rem;
  }

  .card_star {
    width: 1.5rem;
    height: auto;
}
  
.card_body{
    margin-top: 1rem;
}

.card_title{
    text-align: left;
    font-size: 1.4rem;
}
.card_price{
    color: var(--color-primary);
    font-weight: 600;
    text-align: left;
    font-size: 1.4rem;
    margin-top: 0.8rem;
}

.card_price span{
    color: var(--color-dark-2);
    font-weight: 600;
    text-decoration: line-through;
    font-size: 1.4rem;
    margin-left: 1rem;
}
.card_ratings{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
    margin-top: 0.8rem;
    font-size: 1.47rem;
    color: var(--color-dark-2);
}
.card_rating_numbers{
    margin-bottom: 0.3rem;
}
.card{
    margin-bottom: 4rem;
}

.container_btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 4rem;
}

.container_btn_a{
    color: var(--color-white-2);
    font-size: 1.4rem;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    padding: 1.2rem 4rem;
    border-radius: 0.3rem;
    text-decoration: none;
}

/* Categories*/

.categories{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(14rem,1fr));
    grid-gap: 2rem;
}

.category{
    text-align: center;
    padding: 3rem;
    border: 1px solid var(--color-white-2);
    transition: background-color .3s ease;
    cursor: pointer;

}

.category_icon{
    width: 4rem;
    height: auto;
}

.category:hover{
    background-color: var(--color-primary);
}
.bestselling_section_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trending{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
    grid-gap: 2rem;
    background-color: var(--color-dark-1);
    padding: 6rem 3rem;
    text-align: left;
    align-items: center;
}
.trendign_p{
     font-size: 1.2rem;
     color: var(--color-green);
     font-weight: 400;
}
.trending_title{
    color: var(--color-white-1);
    font-size: 4rem;
    margin: 2rem 0rem;
    margin-bottom: 3rem;
}

.trending_btn{
    background-color: var(--color-green);
    padding: 1rem 3rem;
    color: var(--color-white-1);
    border-radius: 0.3rem;
}
.trending_img{
    width: 100%;
    height:fit-content;
}